<?xml version="1.0" encoding="UTF-8"?>

<configuration> 

 <system.webServer> 

    <staticContent>

            <remove fileExtension=".gz" />

        <remove fileExtension=".js.gz" />

        <remove fileExtension=".css.gz" />

        <mimeMap fileExtension=".css.gz" mimeType="text/css" />

            <mimeMap fileExtension=".gz" mimeType="application/gzip" />

    </staticContent>

   <rewrite> 

     <rules> 

       <rule name="Angular Routes" stopProcessing="true"> 

         <match url=".*" /> 

         <conditions logicalGrouping="MatchAll"> 

           <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" /> 

           <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" /> 

         </conditions> 

         <action type="Rewrite" url="./index.html" /> 

       </rule> 

       <rule name="polyJS TO GZIP" enabled="true" stopProcessing="true">

          <match url="(.*)(polyfill)(.*).js" />  

    <conditions>

            <add input="{HTTP_ACCEPT_ENCODING}" pattern="gzip" />

          </conditions>

          <action type="Rewrite" url="{R:0}.gz" appendQueryString="true" logRewrittenUrl="true" />

       </rule>  

       <rule name="mainJS TO GZIP" enabled="true" stopProcessing="true">

          <match url="(.*)(main)(.*).js" />  

    <conditions>

            <add input="{HTTP_ACCEPT_ENCODING}" pattern="gzip" />

          </conditions>

          <action type="Rewrite" url="{R:0}.gz" appendQueryString="true" logRewrittenUrl="true" />

       </rule> 

       <rule name="CSS TO GZIP" enabled="true" stopProcessing="true">

          <match url="(.*).css" />  

          <conditions>

            <add input="{HTTP_ACCEPT_ENCODING}" pattern="gzip" />

          </conditions>

          <action type="Rewrite" url="{R:0}.gz" appendQueryString="true" logRewrittenUrl="true" />

       </rule>

       <rule name="otherJS TO GZIP" enabled="true" stopProcessing="true">

          <match url="^(1|2|3|4|5|6)(.*).js" />  

          <action type="Rewrite" url="{R:0}.gz" appendQueryString="true" logRewrittenUrl="true" />

       </rule>    

     </rules> 

     <outboundRules rewriteBeforeCache="true">

           <rule name="Rewrite content-encoding header" preCondition="IsGZ" stopProcessing="false">       

               <match serverVariable="RESPONSE_CONTENT_ENCODING" pattern=".*" />

               <action type="Rewrite" value="gzip" />

           </rule>

           <preConditions>

                <preCondition name="IsGZ">

                   <add input="{URL}" pattern="\.gz$" />

                </preCondition>

        </preConditions>

     </outboundRules>

  </rewrite> 

  <httpProtocol>       

    <customHeaders>        

      <clear />         

      <add name="X-UA-Compatible" value="IE=edge" />       

    </customHeaders>     

  </httpProtocol>

  <urlCompression doDynamicCompression="false" doStaticCompression="false" />       

 </system.webServer> 

</configuration> 